.characters-page {
  padding-block: 26px;

  &__banner {
    width: 100%;

    // border: 1px solid black;

    &-img {
      margin: 0 auto;
      width: 600px;
      height: 200px;
    }
  }

  &__body {
    display: flex;
    column-gap: 25px;

    // border: 1px solid black;
  }
}
